@import url('auticons.css');

body {
    margin:0;
    passing:0;
    font-family:"auticons", Georgia, serif;
    font-size:16px;
    line-height: 1.5;
    text-align: justify;
    text-justify: newspaper;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    background-color:rgb(243, 242, 238);
}

body > nav {
    background-color:#000;
    color:#FFF;
}

body > nav:before,
body > nav:after {
    content:"";
    display:table;
}
body > nav:after {
    clear:both;
}

body > footer:before,
body > footer:after {
    content:"";
    display:table;
}
body > footer:after {
    clear:both;
}

body > nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
body > nav ul li {
    float:left;
    margin-left:1em;
}

body > nav ul li:first-child {
    margin-left:0em;
}

body > nav a {
    color:#FFF;
    text-decoration:none;
    font-weight:bold;
}

h1, h2, h3, h4 {
    font-family: 'baskerville';
    font-style: italic;
    font-weight:normal;
}

h1 {
    font-size:2.5em;
}

h1 a {
    text-decoration:none;
    color:#000;
}

p {
    color:#333;
}

img {
    max-width:100%;
}

header + p:first-letter, h1 + p:first-letter {
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 400;
    float: left;
    margin: 0 0.107em 0 0;
}

body > footer {
    background-color:#000;
    margin-top:4em;
    color:#FFF;
    padding:3em;
}


body > footer ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

body > footer ul li {
    float:left;
    width:25%;
}

body > footer a {
    color:#FFF;
    font-size:1.2em;
    text-decoration:none;
}

.narrow {
    max-width:540px;
    margin:0 auto;
}

blockquote {
    width:120%;
    position:relative;
    left:-15%;
    font-style:italic;
    font-size:1.1em;
}

blockquote:first-letter {
    font-size:3em;
    line-height: 1em;
    font-weight: 400;
    float: left;
    margin: 0 0.107em 0 0;
}
blockquote:last-letter {
    font-size:3.5em;
    line-height: 1em;
    font-weight: 400;
    float: left;
    margin: 0 0.107em 0 0;
}

blockquote:before {
    content: "\201C";
}

@media only screen and (max-width : 670px) {
    body { text-rendering: optimizeSpeed; }
    
    .narrow {
        margin:0 1em;
    }
    
    blockquote {
        width:auto;
        position:relative;
        left:-1%;
        text-align:center;
    }
    body > footer ul li {
        clear:both;
    }
    
    
}
