title: Glossary Part 1: Marketing
author: Sym Roe
date: 22-08-2013
standfirst: Or: why worrying about some words is more import than others.

{% extends "post.html" %}

{% block body %}

{% markdown %}

We need more words.  We should all accept that words change their meaning over time.  What's hard about this though is that the adoption of these new words isn't evenly distributed, so talking to one person about, for example, a startup [might mean a very different thing to talking to another person](http://www.flourish.org/blog/?p=382).

It's rare that getting the post-product/market fit type of startup mixed with the pre-product/market type of startup causes *that* many problems, as it's normally clear on at least one side of the conversation that there is a difference.

The word that really matters is *marketing*.

Modern marketing is not *just* about buying adverts.  It's not *just* about A/B testing your email subjects.  It's not *just* making sure the logo is 'perfect', having a quirky tag line or astroturfing hashtags on twitter.

Marketing is the collection of acts that makes up bring a product to a market.  

In that process you need to develop *both* product and market at the same time, iterating constantly, not just on the product side.

It's about working *with* your market and solving their problems.

What does the advert for pinterest look like?  I've never seen one, but they do have a product that fits with the market they created.  No one thought they needed it, but they found a group of people who liked to collect beautiful things on the internet and told them they needed this tool.

They *created* a market out of almost nothing.[^1]  No one has noticed that it's del.icio.us with pictures, because the people who use del.icio.us don't use pinterest.

Geeks weren't the early adopters in this market, and they may even be the laggards (how many geeks can you find say "I don't see why I should use that"?).

For me, if you are in "marketing" you will be able to tell me, without hesitation, where on the product life cycle curve your business is.  You will know what market you are working for, and you will have a fair understanding of your product/market fit status (will anyone call you if you stop calling them?).

The problem with this situation is that when you're sitting around a board table and the boss thinks that marketing is advertising, you can't explain the difference easily.

It gets even worse when product developers are told they don't need to attend a meeting "because it's about sales and marketing"&hellip;


[^1]: Francis pointed out that 'pin-boarding' a was popular offline activity, so pinterest really just took these people online.  Still, it wasn't a matter of mass-marketing.

{% endmarkdown %}
{% endblock %}

{% block page_head_extra %}


{% endblock page_head_extra %}

