{% extends "base.html" %}

{% block header %}
<title>{{ title }} ~ Sym Roe</title>
{% endblock %}


{% block content %}
<article>
    <header>
        <h1>{{ title }}</h1>
        {% block page_head_extra %}{% endblock page_head_extra %}
    </header>
        {% block body %}{% endblock %}
    <footer>
        Comment via <a href="http://twitter.com/symroe/">twitter</a>
        or <a href="https://github.com/symroe/symroe.co.uk">Pull Request</a>
        <h5><time pubdate="pubdate">{{ date|date:"F j, Y" }}</time></h5>
    </footer>
</article>

<nav>
    <span class="prev">
        {% if prevPost %}
            <a href='{{ ROOT_URL }}/{{ prevPost.path }}' rel="prev">{{ prevPost.title }}</a>
        {% endif %}
    </span>

    <span class="next">
        {% if nextPost %}
            <a href='{{ ROOT_URL }}/{{ nextPost.path }}' rel="next">{{ nextPost.title }}</a>
        {% endif %}
    </span>
</nav>

{% endblock %}